.home-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #f25c54;
  background-image: linear-gradient(rgba(242, 92, 84, 0.6)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .home-orbs {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    // background-color: gray;

    .big-circle {
      width: 357px;
      height: 357px;
      border-radius: 100%;
      position: absolute;
      overflow: hidden;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      background-color: #ffd972;
      box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);

      h1 {
        font-size: 24px;
        font-family: "Caveat-Bold";
      }

      p {
        font-size: 13px;
        font-family: "Lato-Regular";
      }
    }

    .little-circle {
      width: 167px;
      height: 167px;
      border-radius: 100%;
      position: absolute;
      //   top: 0;
      right: 90px;
      overflow: hidden;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: #fcbcb8;
      box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.3);

      p {
        width: 100px;
        font-size: 10px;
        font-family: "Lato-Italic";
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .home-orbs {
      width: 550px;
      height: 400px;
      margin: 0 auto;
      position: relative;

      .big-circle {
        width: 357px;
        height: 357px;
        border-radius: 100%;
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        background-color: #ffd972;
        box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);

        h1 {
          font-size: 24px;
        }

        p {
          font-size: 13px;
        }
      }

      .little-circle {
        width: 167px;
        height: 167px;
        border-radius: 100%;
        position: absolute;
        top: -100px;
        right: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fcbcb8;
        box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);

        p {
          width: 100px;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .home-orbs {
      width: 550px;
      height: 400px;
      margin: 0 auto;
      position: relative;

      .big-circle {
        width: 257px;
        height: 257px;
        border-radius: 100%;
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        background-color: #ffd972;
        box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);

        h1 {
          font-size: 24px;
        }

        p {
          font-size: 13px;
        }
      }

      .little-circle {
        width: 121px;
        height: 121px;
        border-radius: 100%;
        position: absolute;
        top: -75px;
        right: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fcbcb8;
        box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);

        p {
          width: 100px;
          font-size: 10px;
        }
      }
    }
  }
}
