.recipes-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #a7e8bd;
  background-image: linear-gradient(rgba(167, 232, 189, 0.6)),
    url(/images/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .recipes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 80%;

    .browse-title {
      font-size: 25px;
      width: 70%;
      font-family: "Caveat-Bold";
    }

    .recipes-holder {
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      align-items: center;
      justify-content: center;

      .recipe {
        width: 524px;
        height: 263px;
        //   background-color: gray;
        display: flex;
        justify-content: space-between;

        .recipe-img-pizza {
          width: 300px;
          height: 100%;
          background-color: lightgray;
          background-image: url(/images/recipe-pizza.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 24px;
        }

        .recipe-img-burger {
          width: 300px;
          height: 100%;
          background-color: lightgray;
          background-image: url(/images/recipe-burger.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 24px;
        }

        .recipe-img-biryani {
          width: 300px;
          height: 100%;
          background-color: lightgray;
          background-image: url(/images/recipe-pilaf.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 24px;
        }

        .recipe-img-chowmein {
          width: 300px;
          height: 100%;
          background-color: lightgray;
          background-image: url(/images/recipe-chowmein.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 24px;
        }

        .recipe-text-content {
          width: 224px;
          height: 100%;
          background-color: #fff;
          text-align: center;
          border-radius: 24px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 40px 45px;

          h1 {
            width: 120px;
            margin: 0 auto;
            font-size: 15px;
            font-family: "Lato-Black";
            border-bottom: 3px solid #000;
          }

          .recipe-desc {
            font-family: "Lato-Regular";
            font-size: 9px;
          }

          .time {
            p {
              font-family: "Lato-Regular";
              font-size: 10px;
            }
          }

          .servings {
            p {
              font-family: "Lato-Regular";
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
