.your-recipe-holder {
  .recipe-img-pizza {
    .view-recipe-btn {
      width: 127px;
      height: 42px;
      background-color: #ffd972;
      border-radius: 26px;
      font-size: 20px;
      font-family: "Caveat-Regular";
      text-align: center;
      padding: 8px 24px;
      margin-left: 66px;
      margin-top: 110px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
  }

  .btns-holder {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    .edit-recipe-btn {
      width: 127px;
      height: 42px;
      background-color: #ffd972;
      border-radius: 26px;
      font-size: 20px;
      font-family: "Caveat-Regular";
      text-align: center;
      padding: 8px 24px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
    .delete-recipe-btn {
      width: 127px;
      height: 42px;
      background-color: #ffd972;
      border-radius: 26px;
      font-size: 20px;
      font-family: "Caveat-Regular";
      text-align: center;
      padding: 8px 24px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
