* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: "Caveat-Regular";
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Light-Italic";
  src: url(../fonts/Lato/Lato-LightItalic.ttf);
}
@font-face {
  font-family: "Lato-Thin-Italic";
  src: url(../fonts/Lato/Lato-ThinItalic.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(../fonts/Lato/Lato-Thin.ttf);
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
}

nav {
  height: 50px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-family: "Caveat-Regular";
}

.logo {
  width: 300px;
  height: 55px;
}

.login-nav {
  width: 158px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  padding: 15px 35px 12px 52px;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
}
.login-nav a {
  text-decoration: none;
  font-size: 25px;
  color: #000;
}

.mobile-nav {
  display: none;
}

#hamburger-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  nav {
    width: 35px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: none;
  }
  .login-nav {
    display: none;
  }
  .mobile-nav {
    height: 100vh;
    margin-top: 100px;
    display: none;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffd972;
  }
  .mobile-nav a {
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: center;
    height: 90px;
    font-size: 22px;
    padding: 50px;
    border-bottom: 1px solid #e4c365;
    font-family: "Segoe UI";
  }
  .mobile-nav.mobile-nav-open {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  header.mobile-header-open {
    background-color: #ffd972;
  }
  #app.mobile-screen {
    display: none;
  }
  footer.mobile-screen {
    display: none;
  }
  #hamburger-icon {
    margin: auto 0;
    display: block;
    cursor: pointer;
  }
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
  }
}
.home-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #f25c54;
  background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-background .home-orbs {
  width: 550px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.home-background .home-orbs .big-circle {
  width: 357px;
  height: 357px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
}
.home-background .home-orbs .big-circle h1 {
  font-size: 24px;
  font-family: "Caveat-Bold";
}
.home-background .home-orbs .big-circle p {
  font-size: 13px;
  font-family: "Lato-Regular";
}
.home-background .home-orbs .little-circle {
  width: 167px;
  height: 167px;
  border-radius: 100%;
  position: absolute;
  right: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fcbcb8;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.3);
}
.home-background .home-orbs .little-circle p {
  width: 100px;
  font-size: 10px;
  font-family: "Lato-Italic";
}

@media screen and (max-width: 950px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home-background .home-orbs {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .home-background .home-orbs .big-circle {
    width: 357px;
    height: 357px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #ffd972;
    box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);
  }
  .home-background .home-orbs .big-circle h1 {
    font-size: 24px;
  }
  .home-background .home-orbs .big-circle p {
    font-size: 13px;
  }
  .home-background .home-orbs .little-circle {
    width: 167px;
    height: 167px;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    right: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fcbcb8;
    box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  }
  .home-background .home-orbs .little-circle p {
    width: 100px;
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home-background .home-orbs {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .home-background .home-orbs .big-circle {
    width: 257px;
    height: 257px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #ffd972;
    box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);
  }
  .home-background .home-orbs .big-circle h1 {
    font-size: 24px;
  }
  .home-background .home-orbs .big-circle p {
    font-size: 13px;
  }
  .home-background .home-orbs .little-circle {
    width: 121px;
    height: 121px;
    border-radius: 100%;
    position: absolute;
    top: -75px;
    right: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fcbcb8;
    box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  }
  .home-background .home-orbs .little-circle p {
    width: 100px;
    font-size: 10px;
  }
}
footer {
  min-height: 92px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0%;
}
footer .copyright-holder {
  min-width: 100px;
  min-height: 20px;
  color: #393939;
  font-size: 15px;
  font-family: "Lato-Italic";
}
footer .footer-nav-holder {
  min-height: 20px;
  min-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-nav-holder a {
  text-decoration: none;
  color: #393939;
  font-family: "Lato-Italic";
  font-size: 15px;
}
footer .footer-icon-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  min-width: 100px;
}
footer .footer-icon-holder .facebook {
  width: 19px;
  height: 19px;
}
footer .footer-icon-holder .instagram {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 950px) {
  footer {
    padding: 0px 50px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 5px;
  }
  footer .copyright-holder {
    width: 50%;
  }
  footer .copyright-holder p {
    font-size: 10px;
  }
  footer .footer-nav-holder {
    flex-direction: column;
  }
  footer .footer-nav-holder a {
    font-size: 10px;
  }
}
.account-content {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd972;
}
.account-content input {
  width: 250px;
  height: 25px;
  border-style: none;
  font-family: "Segoe UI";
  background-color: #ffd972;
  border-bottom: 1px solid #000;
}
.account-content ::placeholder {
  color: #000;
  font-size: 12px;
  font-family: "Lato-Light";
}
.account-content .auth-content {
  margin: 0 auto;
  padding: 100px;
  gap: 40px;
}
.account-content .auth-content h1 {
  font-size: 30px;
  font-family: "Lato-Black";
}
.account-content .auth-content .signOut-button {
  width: 209px;
  height: 52px;
  padding: 12px 62px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  font-size: 25px;
  font-family: "Caveat-Regular";
  text-decoration: none;
  cursor: pointer;
}
.account-content .login-section {
  width: 55%;
}
.account-content .login-section .login-holder {
  width: 233px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: column;
}
.account-content .login-section .login-holder h1 {
  font-size: 30px;
  font-family: "Lato-Black";
  letter-spacing: 5px;
}
.account-content .login-section .login-holder input {
  width: 206px;
}
.account-content .login-section .login-holder .login-button {
  width: 209px;
  height: 52px;
  padding: 12px 62px;
  text-align: center;
  color: #000;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  font-size: 25px;
  font-family: "Caveat-Regular";
  text-decoration: none;
  cursor: pointer;
}
.account-content .sign-up-section {
  width: 45%;
  height: 100%;
}
.account-content .sign-up-section .sign-up-holder {
  width: 233px;
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
.account-content .sign-up-section .sign-up-holder p {
  font-size: 12px;
  margin-bottom: -30px;
  font-family: "Lato-Light-Italic";
  letter-spacing: 2px;
}
.account-content .sign-up-section .sign-up-holder h1 {
  font-size: 30px;
  font-family: "Lato-Black";
  letter-spacing: 5px;
}
.account-content .sign-up-section .sign-up-holder .sign-up-button {
  width: 250px;
  height: 52px;
  padding: 12px 50px;
  text-align: center;
  color: #000;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Caveat-Regular";
  font-size: 25px;
}

@media screen and (max-width: 760px) {
  .account-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .account-content .login-section .login-holder {
    height: 250px;
  }
  .account-content .sign-up-section .sign-up-holder {
    height: 250px;
  }
  .account-content .sign-up-section .sign-up-holder p {
    margin-bottom: -10px;
  }
}
