* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url(/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: "Caveat-Regular";
  src: url(/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(/fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-Black";
  src: url(/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Light-Italic";
  src: url(/fonts/Lato/Lato-LightItalic.ttf);
}
@font-face {
  font-family: "Lato-Thin-Italic";
  src: url(/fonts/Lato/Lato-ThinItalic.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(/fonts/Lato/Lato-Thin.ttf);
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
}

nav {
  height: 50px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-family: "Caveat-Regular";
}

.logo {
  width: 300px;
  height: 55px;
}

.login-nav {
  width: 158px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  padding: 15px 35px 12px 52px;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
}
.login-nav a {
  text-decoration: none;
  font-size: 25px;
  color: #000;
}

.mobile-nav {
  display: none;
}

#hamburger-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  nav {
    width: 35px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: none;
  }
  .login-nav {
    display: none;
  }
  .mobile-nav {
    height: 100vh;
    margin-top: 100px;
    display: none;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffd972;
  }
  .mobile-nav a {
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: center;
    height: 90px;
    font-size: 22px;
    padding: 50px;
    border-bottom: 1px solid #e4c365;
    font-family: "Segoe UI";
  }
  .mobile-nav.mobile-nav-open {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  header.mobile-header-open {
    background-color: #ffd972;
  }
  #app.mobile-screen {
    display: none;
  }
  footer.mobile-screen {
    display: none;
  }
  #hamburger-icon {
    margin: auto 0;
    display: block;
    cursor: pointer;
  }
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
  }
}
.home-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #f25c54;
  background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-background .home-orbs {
  width: 550px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.home-background .home-orbs .big-circle {
  width: 357px;
  height: 357px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
}
.home-background .home-orbs .big-circle h1 {
  font-size: 24px;
  font-family: "Caveat-Bold";
}
.home-background .home-orbs .big-circle p {
  font-size: 13px;
  font-family: "Lato-Regular";
}
.home-background .home-orbs .little-circle {
  width: 167px;
  height: 167px;
  border-radius: 100%;
  position: absolute;
  right: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fcbcb8;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.3);
}
.home-background .home-orbs .little-circle p {
  width: 100px;
  font-size: 10px;
  font-family: "Lato-Italic";
}

@media screen and (max-width: 950px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home-background .home-orbs {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .home-background .home-orbs .big-circle {
    width: 357px;
    height: 357px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #ffd972;
    box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);
  }
  .home-background .home-orbs .big-circle h1 {
    font-size: 24px;
  }
  .home-background .home-orbs .big-circle p {
    font-size: 13px;
  }
  .home-background .home-orbs .little-circle {
    width: 167px;
    height: 167px;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    right: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fcbcb8;
    box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  }
  .home-background .home-orbs .little-circle p {
    width: 100px;
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f25c54;
    background-image: linear-gradient(rgba(242, 92, 84, 0.6)), url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home-background .home-orbs {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .home-background .home-orbs .big-circle {
    width: 257px;
    height: 257px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #ffd972;
    box-shadow: 0px 8px 15px rgba(74, 73, 73, 0.2);
  }
  .home-background .home-orbs .big-circle h1 {
    font-size: 24px;
  }
  .home-background .home-orbs .big-circle p {
    font-size: 13px;
  }
  .home-background .home-orbs .little-circle {
    width: 121px;
    height: 121px;
    border-radius: 100%;
    position: absolute;
    top: -75px;
    right: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fcbcb8;
    box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  }
  .home-background .home-orbs .little-circle p {
    width: 100px;
    font-size: 10px;
  }
}
footer {
  min-height: 92px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0%;
}
footer .copyright-holder {
  min-width: 100px;
  min-height: 20px;
  color: #393939;
  font-size: 15px;
  font-family: "Lato-Italic";
}
footer .footer-nav-holder {
  min-height: 20px;
  min-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-nav-holder a {
  text-decoration: none;
  color: #393939;
  font-family: "Lato-Italic";
  font-size: 15px;
}
footer .footer-icon-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  min-width: 100px;
}
footer .footer-icon-holder .facebook {
  width: 19px;
  height: 19px;
}
footer .footer-icon-holder .instagram {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 950px) {
  footer {
    padding: 0px 50px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 5px;
  }
  footer .copyright-holder {
    width: 50%;
  }
  footer .copyright-holder p {
    font-size: 10px;
  }
  footer .footer-nav-holder {
    flex-direction: column;
  }
  footer .footer-nav-holder a {
    font-size: 10px;
  }
}
.account-content {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd972;
}
.account-content input {
  width: 250px;
  height: 25px;
  border-style: none;
  font-family: "Segoe UI";
  background-color: #ffd972;
  border-bottom: 1px solid #000;
}
.account-content ::placeholder {
  color: #000;
  font-size: 12px;
  font-family: "Lato-Light";
}
.account-content .auth-content {
  margin: 0 auto;
  padding: 100px;
  gap: 40px;
}
.account-content .auth-content h1 {
  font-size: 30px;
  font-family: "Lato-Black";
}
.account-content .auth-content .signOut-button {
  width: 209px;
  height: 52px;
  padding: 12px 62px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  font-size: 25px;
  font-family: "Caveat-Regular";
  text-decoration: none;
  cursor: pointer;
}
.account-content .login-section {
  width: 55%;
}
.account-content .login-section .login-holder {
  width: 233px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: column;
}
.account-content .login-section .login-holder h1 {
  font-size: 30px;
  font-family: "Lato-Black";
  letter-spacing: 5px;
}
.account-content .login-section .login-holder input {
  width: 206px;
}
.account-content .login-section .login-holder .login-button {
  width: 209px;
  height: 52px;
  padding: 12px 62px;
  text-align: center;
  color: #000;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  font-size: 25px;
  font-family: "Caveat-Regular";
  text-decoration: none;
  cursor: pointer;
}
.account-content .sign-up-section {
  width: 45%;
  height: 100%;
}
.account-content .sign-up-section .sign-up-holder {
  width: 233px;
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
.account-content .sign-up-section .sign-up-holder p {
  font-size: 12px;
  margin-bottom: -30px;
  font-family: "Lato-Light-Italic";
  letter-spacing: 2px;
}
.account-content .sign-up-section .sign-up-holder h1 {
  font-size: 30px;
  font-family: "Lato-Black";
  letter-spacing: 5px;
}
.account-content .sign-up-section .sign-up-holder .sign-up-button {
  width: 250px;
  height: 52px;
  padding: 12px 50px;
  text-align: center;
  color: #000;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Caveat-Regular";
  font-size: 25px;
}

@media screen and (max-width: 760px) {
  .account-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .account-content .login-section .login-holder {
    height: 250px;
  }
  .account-content .sign-up-section .sign-up-holder {
    height: 250px;
  }
  .account-content .sign-up-section .sign-up-holder p {
    margin-bottom: -10px;
  }
}
.recipes-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #a7e8bd;
  background-image: linear-gradient(rgba(167, 232, 189, 0.6)), url(/images/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes-background .recipes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.recipes-background .recipes-content .browse-title {
  font-size: 25px;
  width: 70%;
  font-family: "Caveat-Bold";
}
.recipes-background .recipes-content .recipes-holder {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.recipes-background .recipes-content .recipes-holder .recipe {
  width: 524px;
  height: 263px;
  display: flex;
  justify-content: space-between;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-img-pizza {
  width: 300px;
  height: 100%;
  background-color: lightgray;
  background-image: url(/images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-img-burger {
  width: 300px;
  height: 100%;
  background-color: lightgray;
  background-image: url(/images/recipe-burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-img-biryani {
  width: 300px;
  height: 100%;
  background-color: lightgray;
  background-image: url(/images/recipe-pilaf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-img-chowmein {
  width: 300px;
  height: 100%;
  background-color: lightgray;
  background-image: url(/images/recipe-chowmein.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-text-content {
  width: 224px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 45px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-text-content h1 {
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  font-family: "Lato-Black";
  border-bottom: 3px solid #000;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-text-content .recipe-desc {
  font-family: "Lato-Regular";
  font-size: 9px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-text-content .time p {
  font-family: "Lato-Regular";
  font-size: 10px;
}
.recipes-background .recipes-content .recipes-holder .recipe .recipe-text-content .servings p {
  font-family: "Lato-Regular";
  font-size: 10px;
}

.create-recipe {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 220px;
}
.create-recipe h1 {
  font-size: 25px;
  font-family: "Caveat-Bold";
}
.create-recipe form input {
  margin-bottom: 50px;
  width: 100%;
  border: none;
  border-bottom: 3px solid #000;
  outline: none;
  background-color: transparent;
}
.create-recipe form h3 {
  margin-top: 80px;
  font-size: 20px;
  font-family: "Lato-Black";
}
.create-recipe form .add-ingred,
.create-recipe form .add-instruc {
  display: flex;
  flex-direction: column;
}
.create-recipe form .add-ingred-btn,
.create-recipe form .add-instruc-btn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 28px;
  margin: -100px 0 40px auto;
}
.create-recipe form .submit-btn {
  display: block;
  border: none;
  background-color: #efa7a7;
  width: 422px;
  height: 52px;
  margin: 0 auto;
  border-radius: 26px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Caveat-Regular";
}

.edit-recipe {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 220px;
}
.edit-recipe h1 {
  font-size: 25px;
  font-family: "Caveat-Bold";
}
.edit-recipe form input {
  margin-bottom: 50px;
  width: 100%;
  border: none;
  border-bottom: 3px solid #000;
  outline: none;
  background-color: transparent;
}
.edit-recipe form h3 {
  margin-top: 80px;
  font-size: 20px;
  font-family: "Lato-Black";
}
.edit-recipe form .add-ingred,
.edit-recipe form .add-instruc {
  display: flex;
  flex-direction: column;
}
.edit-recipe form .add-ingred-btn,
.edit-recipe form .add-instruc-btn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 28px;
  margin: -100px 0 40px auto;
}
.edit-recipe form .submit-btn {
  display: block;
  border: none;
  background-color: #efa7a7;
  width: 422px;
  height: 52px;
  margin: 0 auto;
  border-radius: 26px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Caveat-Regular";
}

.recipe-view {
  width: 35%;
  margin: 0 auto;
  margin-top: 150px;
}
.recipe-view .recipe-header {
  display: flex;
  justify-content: space-between;
}
.recipe-view .recipe-header .recipe-view-img-holder {
  display: flex;
}
.recipe-view .recipe-header .recipe-view-img-holder .vert-title {
  writing-mode: sideways-lr;
  text-align: center;
  font-size: 25px;
  font-family: "Lato-Black";
}
.recipe-view .recipe-header .recipe-view-img-holder .recipe-view-img {
  width: 468px;
  height: 421px;
  background-color: lightgray;
}
.recipe-view .recipe-header .recipe-view-text-holder .rvt-title {
  font-size: 25px;
  font-family: "Lato-Black";
}
.recipe-view .recipe-header .recipe-view-text-holder h1 {
  font-size: 20px;
  font-family: "Lato-Black";
}
.recipe-view .recipe-header .recipe-view-text-holder p {
  font-size: 20px;
  font-family: "Caveat-Regular";
}
.recipe-view .recipe-data-holder .ingredients-holder {
  margin-top: 40px;
}
.recipe-view .recipe-data-holder .ingredients-holder h1 {
  font-size: 25px;
  font-family: "Lato-Black";
  margin-bottom: 20px;
}
.recipe-view .recipe-data-holder .ingredients-holder ul {
  list-style-type: disc;
  padding-left: 20px;
}
.recipe-view .recipe-data-holder .ingredients-holder ul li {
  font-size: 20px;
  font-family: "Caveat-Regular";
  margin-bottom: 10px;
}
.recipe-view .recipe-data-holder .instructions-holder {
  margin-top: 40px;
}
.recipe-view .recipe-data-holder .instructions-holder h1 {
  font-size: 25px;
  font-family: "Lato-Black";
  margin-bottom: 20px;
}
.recipe-view .recipe-data-holder .instructions-holder ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.recipe-view .recipe-data-holder .instructions-holder ol li {
  font-size: 20px;
  font-family: "Caveat-Regular";
  margin-bottom: 10px;
}
.recipe-view .edit-recipe-btn {
  width: 127px;
  height: 42px;
  background-color: #ffd972;
  border-radius: 26px;
  padding: 8px 24px;
}
.recipe-view .edit-recipe-btn p {
  font-size: 20px;
  font-family: "Caveat-Regular";
}

.your-recipe-holder .recipe-img-pizza .view-recipe-btn {
  width: 127px;
  height: 42px;
  background-color: #ffd972;
  border-radius: 26px;
  font-size: 20px;
  font-family: "Caveat-Regular";
  text-align: center;
  padding: 8px 24px;
  margin-left: 66px;
  margin-top: 110px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.your-recipe-holder .btns-holder {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.your-recipe-holder .btns-holder .edit-recipe-btn {
  width: 127px;
  height: 42px;
  background-color: #ffd972;
  border-radius: 26px;
  font-size: 20px;
  font-family: "Caveat-Regular";
  text-align: center;
  padding: 8px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.your-recipe-holder .btns-holder .delete-recipe-btn {
  width: 127px;
  height: 42px;
  background-color: #ffd972;
  border-radius: 26px;
  font-size: 20px;
  font-family: "Caveat-Regular";
  text-align: center;
  padding: 8px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
